psutil>=5.6.4
asyncssh>=2.0.1
pyyaml>=5.1.2
uvloop>=0.14.0;os_name=='posix'
pamela>=1.0.0;os_name=='posix'
#cryptography   #required for asyncssh, for windows, install with Pycharm
#pywin32=>225;os_name='nt'  #Install with Pycharm in venv, or globally
